@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes fadeInWidth {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes fadeInWidth {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes UpTop {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}
@keyframes UpTop {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes Rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
}
@keyframes Rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
}
html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 19px;
  width: 100%;
  min-width: 320px;
}

.blind {
  display: none;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 50px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 195px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 995;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
header .headTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .headTop .headLeft {
  width: 250px;
  border: 1px solid #333;
  border-radius: 0 10px 0 10px;
  text-align: center;
  position: relative;
}
header .headTop .headLeft > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.6em 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1em;
  font-weight: 600;
  color: #ed3b5c;
  border-radius: 0 10px 0 10px;
}
header .headTop .headLeft > a:hover {
  background: #ed3b5c;
  color: #fff;
}
header .headTop .headLeft .resMenu {
  display: none;
  position: absolute;
  margin-top: 5px;
  background: #ebebeb;
  border: 1px solid #333;
  z-index: 999;
}
header .headTop .headLeft .resMenu .btn li {
  float: left;
  width: 49.99%;
  background: #bbb;
}
header .headTop .headLeft .resMenu .btn li a {
  color: #666;
  display: block;
  padding: 10px 0;
  width: 100%;
  font-weight: 300;
}
header .headTop .headLeft .resMenu .btn li.active {
  background: #fff;
}
header .headTop .headLeft .resMenu .btn li.active a {
  font-weight: 600;
}
header .headTop .headLeft .resMenu .tabList {
  width: 600px;
  height: 200px;
  background: #fff;
}
header .headTop .headLeft .resMenu .tabList .hotelRsv {
  position: absolute;
  padding: 40px 20px 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  text-align: center;
}
header .headTop .headLeft .resMenu .tabList .hotelRsv ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .headTop .headLeft .resMenu .tabList .hotelRsv ul li {
  width: 31%;
  height: 60px;
}
header .headTop .headLeft .resMenu .tabList .hotelRsv ul li #hotel {
  width: 100%;
  height: 50%;
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
}
header .headTop .headLeft .resMenu .tabList .hotelRsv ul li span {
  display: inline-block;
  margin-bottom: 10px;
}
header .headTop .headLeft .resMenu .tabList .hotelRsv ul li input {
  width: 100%;
  height: 50%;
  padding: 0 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .headTop .headLeft .resMenu .tabList .hotelRsv .tabBtn {
  margin-top: 30px;
  width: 100%;
}
header .headTop .headLeft .resMenu .tabList .hotelRsv .tabBtn a {
  display: inline-block;
  width: 50px;
  background: #ebebeb;
  padding: 10px 3em;
  font-size: 0.8em;
  font-weight: 600;
}
header .headTop .headLeft .resMenu .tabList .hotelRsv .tabBtn a:hover {
  background: #5e7bde;
  color: #fff;
}
header .headTop .headLeft .resMenu .tabList .attraRsv {
  display: none;
  position: absolute;
  padding: 40px 20px 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  text-align: center;
}
header .headTop .headLeft .resMenu .tabList .attraRsv ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .headTop .headLeft .resMenu .tabList .attraRsv ul li {
  width: 48%;
  height: 60px;
}
header .headTop .headLeft .resMenu .tabList .attraRsv ul li #attra {
  width: 100%;
  height: 50%;
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
}
header .headTop .headLeft .resMenu .tabList .attraRsv ul li span {
  display: inline-block;
  margin-bottom: 10px;
}
header .headTop .headLeft .resMenu .tabList .attraRsv ul li input {
  width: 100%;
  height: 50%;
  padding: 0 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .headTop .headLeft .resMenu .tabList .attraRsv .tabBtn {
  margin-top: 30px;
  width: 100%;
}
header .headTop .headLeft .resMenu .tabList .attraRsv .tabBtn a {
  display: inline-block;
  width: 50px;
  background: #ebebeb;
  padding: 10px 3em;
  font-size: 0.8em;
  font-weight: 600;
}
header .headTop .headLeft .resMenu .tabList .attraRsv .tabBtn a:hover {
  background: #62c7bc;
  color: #fff;
}
header .headTop .headRight {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-width: 168px;
  margin-right: 2.5rem;
}
header .headTop .headRight .login {
  display: inline-block;
  font-size: 1.1rem;
  margin-right: 20px;
}
header .headTop .headRight .login:hover {
  color: #5e7bde;
}
header .headTop .headRight .pcSearchBtn:hover {
  color: #5e7bde;
}
header .headTop .headRight .pcSearch {
  display: none;
  position: relative;
  width: 200px;
  height: 25px;
  line-height: 10px;
  margin-left: 10px;
}
header .headTop .headRight .pcSearch #search {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #bdbdbd;
}
header .headTop .headRight .pcSearch a {
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0.8rem;
  opacity: 0.7;
}
header .headTop .headRight #Sns > a {
  display: inline-block;
  padding: 0 2rem;
  margin-left: 2rem;
  font-size: 1.1rem;
  line-height: 38px;
  border-left: 1px solid #333;
  background-image: url("../images/arrow.png");
  background-position: right center;
  background-repeat: no-repeat;
}
header .headTop .headRight #Sns > a:hover {
  color: #5e7bde;
}
header .headTop .headRight .snsChannel {
  display: none;
  position: absolute;
  right: 0;
  top: calc(38px + 0.5rem);
  padding: 0.75rem 1rem;
  border: 1px solid #bdbdbd;
  background-color: #fff;
  z-index: 998;
}
header .headTop .headRight .snsChannel li {
  margin-bottom: 0.5em;
  width: 150px;
  padding: 5px 0;
}
header .headTop .headRight .snsChannel li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .headTop .headRight .snsChannel li a img {
  display: inline-block;
  width: 25%;
}
header .headTop .headRight .snsChannel li a span {
  width: 50%;
  font-size: 0.8em;
  margin-left: 1em;
}
header .headTop .headRight .snsChannel li:last-child {
  margin: 0;
}
header .headBottom {
  position: relative;
}
header .headBottom .logo {
  display: block;
  width: 380px;
  margin: 0 auto;
}
header .headBottom .logo img {
  display: block;
  width: 100%;
}
header .headBottom .hamB a {
  display: inline-block;
  position: absolute;
  right: 3%;
  top: 50%;
  width: 35px;
  height: 23.5px;
  background-image: url(../images/menu.png);
  background-size: 100%;
  margin-top: -15.5px;
  font-size: 3em;
  z-index: 997;
}
header .headBottom .hamB a:hover {
  background-position: left bottom;
}
header.on {
  height: 100px;
  padding-top: 0;
}
header.on .headTop {
  display: none;
}
header.on .headBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-top: 0;
}

nav {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 13, 13, 0.5);
  overflow: auto;
  z-index: 998;
}
nav #Close {
  display: inline-block;
  position: absolute;
  right: 4.3%;
  top: 100px;
  width: 48px;
  height: 47px;
  z-index: 999;
}
nav #Close a {
  display: block;
  width: 100%;
  height: 100%;
}
nav .wrap {
  padding: 85px 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
}
nav .wrap .navTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
nav .wrap .navTop .navLeft a {
  display: block;
  width: 100%;
}
nav .wrap .navTop .navLeft a img {
  display: block;
}
nav .wrap .navTop .navRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .wrap .navTop .navRight .navSearch {
  width: 250px;
  height: 43px;
  border: 1px solid #333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
nav .wrap .navTop .navRight .navSearch input {
  display: inline-block;
  font-size: 0.9em;
  padding-left: 0.75em;
  padding-right: 3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  width: 100%;
  height: 100%;
}
nav .wrap .navTop .navRight .navSearch a {
  display: inline-block;
  padding: 0 0.75em;
}
nav .wrap .navTop .navRight .navSearch a i {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
nav .wrap .navTop .navRight #navSns {
  margin: 0 calc(1.5em + 48px) 0 1.5em;
  position: relative;
  border-left: 1px solid #333;
}
nav .wrap .navTop .navRight #navSns > a {
  display: inline-block;
  padding-right: 2em;
  margin-left: 2em;
  font-size: 1.1em;
  line-height: 38px;
  background-image: url("../images/arrow.png");
  background-position: right center;
  background-repeat: no-repeat;
}
nav .wrap .navTop .navRight #navSns .navSnsChannel {
  display: none;
  position: absolute;
  right: 0;
  top: 57px;
  padding: 0.75rem 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #bdbdbd;
  background-color: #fff;
  z-index: 998;
}
nav .wrap .navTop .navRight #navSns .navSnsChannel li {
  margin-bottom: 0.5em;
  width: 150px;
  padding: 5px 0;
}
nav .wrap .navTop .navRight #navSns .navSnsChannel li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .wrap .navTop .navRight #navSns .navSnsChannel li a img {
  display: inline-block;
  width: 25%;
}
nav .wrap .navTop .navRight #navSns .navSnsChannel li a span {
  width: 50%;
  font-size: 0.8em;
  margin-left: 1em;
}
nav .wrap .navTop .navRight #navSns .navSnsChannel li:last-child {
  margin: 0;
}
nav .wrap .navTop .navRight .navLogin {
  padding: 0 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1em;
}
nav .wrap .navBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
nav .wrap .navBottom .gnb {
  display: block;
  width: 240px;
}
nav .wrap .navBottom .gnb:first-child h3 a {
  color: #fbba47;
}
nav .wrap .navBottom .gnb:first-child .lnb li:last-child a {
  color: #ed3b5c;
}
nav .wrap .navBottom .gnb:nth-child(2) h3 a {
  color: #36b2e3;
}
nav .wrap .navBottom .gnb:nth-child(3) h3 a {
  color: #ed3b5c;
}
nav .wrap .navBottom .gnb:nth-child(4) h3 a {
  color: #86c56b;
}
nav .wrap .navBottom .gnb:last-child h3 a {
  color: #62c7bc;
}
nav .wrap .navBottom .gnb .gnbImg {
  width: 100%;
  height: 150px;
}
nav .wrap .navBottom .gnb .gnbImg a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
nav .wrap .navBottom .gnb .gnbImg a img {
  width: 100%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
nav .wrap .navBottom .gnb .gnbImg a:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
nav .wrap .navBottom .gnb div {
  margin-top: 20px;
}
nav .wrap .navBottom .gnb div h3 {
  display: inline-block;
  float: left;
  font-size: 1.5em;
  color: #525252;
}
nav .wrap .navBottom .gnb div h3 a:hover {
  color: #5e7bde;
}
nav .wrap .navBottom .gnb div ul {
  display: inline-block;
  float: right;
  min-height: 56px;
  padding-left: 2em;
  border-left: 1px solid #333;
}
nav .wrap .navBottom .gnb div ul li {
  margin-bottom: 0.5em;
}
nav .wrap .navBottom .gnb div ul li a {
  display: inline-block;
  max-width: 100%;
  margin-right: 1.5em;
  font-size: 0.9em;
  font-weight: 500;
  word-break: keep-all;
  color: #424242;
}
nav .wrap .navBottom .gnb div ul li a:hover {
  color: #5e7bde;
}
nav .wrap .navBottom .gnb div ul li:last-child {
  margin-bottom: 0;
}
nav .wrap .navBottom.mo {
  display: none;
}

.container {
  margin-top: 0;
}
.container .section01 {
  position: relative;
  width: calc(100% - 100px);
  margin: 0 auto;
}
.container .section01 .fp-tableCell {
  display: block;
  padding-top: 195px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
.container .section01 video {
  display: block;
  width: 100%;
}
.container .section01 h2 {
  position: absolute;
  width: 100%;
  max-width: 1100px;
  left: 0;
  bottom: -0.475rem;
  padding: 0 0.75rem;
  font-size: 6rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -2px;
  color: #fff;
  word-break: keep-all;
  z-index: 2;
}
.container .section02 {
  width: 100%;
  padding: 0 calc((100% - 1645px) / 2);
  background: #fbfbfb;
}
.container .section02 .fp-tableCell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
}
.container .section02 .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
}
.container .section02 .left span {
  display: inline-block;
  width: 31%;
  padding: 1em 0.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1em;
  font-weight: 500;
  background: #5e7bde;
  color: #fff;
  text-align: center;
}
.container .section02 .left h2 {
  max-width: 92%;
  margin-top: 30px;
  font-size: 2.5em;
  line-height: 1.2;
  letter-spacing: -2px;
  word-break: keep-all;
}
.container .section02 .left p {
  max-width: 92%;
  margin-top: 2em;
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.35;
  word-break: keep-all;
}
.container .section02 .right {
  position: relative;
  width: 50%;
  padding-right: calc(16px + 1em);
}
.container .section02 .right ul {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.container .section02 .right ul li {
  position: relative;
  margin-bottom: 1.5em;
}
.container .section02 .right ul li img {
  display: block;
  width: 100%;
}
.container .section02 .right ul li .link {
  position: absolute;
  left: 50%;
  bottom: 10%;
  width: 90%;
  margin-left: -45%;
  overflow: hidden;
  z-index: 2;
}
.container .section02 .right ul li .link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 5em;
  height: 5em;
  margin-left: 2.5%;
  font-size: 0.8em;
  font-weight: 500;
  border: 1px solid #fff;
  color: #fff;
  padding: 20px;
  background: rgba(0, 0, 0, 0.2);
}
.container .section02 .right ul li .link a:hover {
  background: #fff;
  color: #333;
}
.container .section02 .right ul li .link b {
  display: inline-block;
  float: right;
  font-size: 4em;
  color: #fff;
  padding-top: 20px;
}
.container .section02 .right ul li .bg {
  display: block;
  position: absolute;
  right: 0;
  top: -1px;
  width: 100%;
  height: calc(100% + 2px);
  background: #fbfbfb;
  z-index: 3;
}
.container .section02 .right .number {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
}
.container .section02 .right .number p b {
  display: inline-block;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 1;
  color: #9a9a9a;
}
.container .section02 .right .number p span {
  display: inline-block;
  margin: 1em 0;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  letter-spacing: 0;
  counter-reset: none;
}
.container .section02 .right .number .line {
  width: 3px;
  height: 400px;
  margin: 0 calc((0.8em - 3px)/2);
  background: #cfcfcf;
}
.container .section02 .right .number .line span {
  display: block;
  width: 3px;
  height: 25%;
  background: #333;
}
.container .section02.active .left {
  -webkit-animation: fadeInRight both 1s;
          animation: fadeInRight both 1s;
}
.container .section02.active .right ul li .bg {
  -webkit-animation: fadeInWidth both 1s;
          animation: fadeInWidth both 1s;
}
.container .section02.active .right ul li:nth-child(2) .bg {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.container .section02.active .right ul li:nth-child(3) .bg {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.container .section02.active .right ul li:nth-child(4) .bg {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.container .section03 {
  background-image: url(../images/shinhwa01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container .section03 .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
}
.container .section03 .fp-tableCell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.container .section03 .left {
  display: inline-block;
  position: relative;
  width: 50%;
  padding: 4em 4%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 17%;
}
.container .section03 .left .box {
  position: relative;
  width: 100%;
  padding: 8% 5% 8%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(255, 255, 255, 0.9);
}
.container .section03 .left .box span {
  display: block;
  width: 40%;
  padding: 1em 0;
  font-size: 1em;
  font-weight: bold;
  background: #5e7bde;
  color: #fff;
  text-align: center;
}
.container .section03 .left .box h3 {
  margin-top: 0.3em;
  font-size: 2.75em;
  letter-spacing: -2px;
  line-height: 1.1;
}
.container .section03 .left .box p {
  margin-top: 1.5em;
  font-size: 1.05em;
  font-weight: 300;
  line-height: 1.25;
}
.container .section03 .left .box ul {
  max-width: 80%;
  margin-top: 1.5em;
  overflow: hidden;
}
.container .section03 .left .box ul li {
  display: inline-block;
  float: left;
  margin: 0 0.5em 0.5em 0;
}
.container .section03 .left .box ul li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0.8em;
  font-weight: 300;
  padding: 0.75em 1.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1.5em;
  background: #cfcfcf;
}
.container .section03 .left .box ul li a:hover {
  background: #5e7bde;
  color: #fff;
}
.container .section03 .left .box ul li a.clickOn {
  background: #5e7bde;
  color: #fff;
}
.container .section03 .left .box .circle {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -141.5px;
  margin-right: -141.5px;
  z-index: 1;
}
.container .section03 .left .box .circle div {
  display: block;
  position: relative;
  z-index: 3;
}
.container .section03 .left .box .circle div img {
  display: block;
  width: 100%;
  position: relative;
  top: 3px;
  left: -4px;
}
.container .section03 .left .box .circle div::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: rgba(91, 118, 175, 0.6);
  background-image: url(../images/plus.png);
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 4;
  opacity: 0;
}
.container .section03 .left .box .circle::after {
  display: block;
  content: "";
  position: absolute;
  right: -16%;
  top: -14.2%;
  width: 135%;
  height: 130%;
  margin-top: 0;
  margin-right: 0;
  background-image: url(../images/rotate.png);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-animation: Rotate 30s infinite linear;
          animation: Rotate 30s infinite linear;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  z-index: 5;
}
.container .section03 .right {
  display: inline-block;
  position: relative;
  top: 25%;
  width: 50%;
}
.container .section03 .right div {
  position: relative;
  padding: 2em 10% 2em 30%;
  top: 18%;
}
.container .section03 .right div h3 {
  font-size: 2em;
  color: #fff;
}
.container .section03 .right div p {
  margin-top: 0.75em;
  font-size: 1.05em;
  font-weight: 300;
  line-height: 1.25;
  word-break: keep-all;
  color: #fff;
}
.container .section03 .right div a {
  margin-top: 1.5em;
  display: block;
  max-width: 35%;
  padding: 0.75em 0;
  font-size: 0.9em;
  border-radius: 2em;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
}
.container .section03 .right div a:hover {
  background: #fff;
  color: #333;
}
.container .section04 {
  width: calc(100% - 100px);
  margin: 0 auto;
}
.container .section04.active {
  height: 0;
}
.container .section04 .fp-tableCell {
  padding: 130px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.container .section04 h3 {
  margin: 0 0 50px;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
}
.container .section04 .swiper-container .swiper-wrapper .swiper-slide {
  display: inline-block;
  float: left;
  width: 22%;
  margin-right: 3%;
}
.container .section04 .swiper-container .swiper-wrapper .swiper-slide .sw-inner {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.container .section04 .swiper-container .swiper-wrapper .swiper-slide .sw-inner img {
  display: block;
  width: 100%;
}
.container .section04 .swiper-container .swiper-wrapper .swiper-slide .sw-inner .text01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, transparent), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(to bottom, transparent 35%, rgba(0, 0, 0, 0.8));
  z-index: 2;
}
.container .section04 .swiper-container .swiper-wrapper .swiper-slide .sw-inner .text01 a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.container .section04 .swiper-container .swiper-wrapper .swiper-slide .sw-inner .text01 a .swTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 83px;
  height: 83px;
  font-family: "NanumB";
  font-size: 0.9em;
  border-radius: 100%;
  color: #fff;
}
.container .section04 .swiper-container .swiper-wrapper .swiper-slide .sw-inner .text01 a .swSub {
  position: absolute;
  bottom: 20px;
  font-size: 0.9em;
  line-height: 1.3;
  color: #fff;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 0;
}
.container .section04 .swiper-container .swiper-wrapper .swiper-slide .sw-inner .text01 a .titleBg1 {
  background: #fbba47;
}
.container .section04 .swiper-container .swiper-wrapper .swiper-slide .sw-inner .text01 a .titleBg2 {
  background: #36b2e3;
}
.container .section04 .swiper-container .swiper-wrapper .swiper-slide .sw-inner .text01 a .titleBg3 {
  background: #ed3b5c;
}
.container .section04 .swiper-container .swiper-wrapper .swiper-slide .sw-inner .text01 a .titleBg4 {
  background: #86c56b;
}
.container .section04 .swiper-container .swiper-wrapper .swiper-slide .sw-inner .text01 a .titleBg5 {
  background: #62c7bc;
}
.container .section04 .swiper-container .swiper-wrapper .swiper-slide .sw-inner .text02 {
  position: absolute;
  left: 0;
  top: 110%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 141, 223, 0.8);
  z-index: 3;
}
.container .section04 .swiper-container .swiper-wrapper .swiper-slide .sw-inner .text02 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.container .section04 .swiper-container .swiper-wrapper .swiper-slide .sw-inner .text02 a .meTitle {
  position: relative;
  display: block;
  width: 187px;
  height: 3rem;
  margin: 0 auto;
  font-family: "NanumEB";
  font-size: 0.9em;
  font-weight: 600;
  line-height: 2.6;
  border-radius: 50px;
  background-color: #fff;
  text-align: center;
}
.container .section04 .swiper-container .swiper-wrapper .swiper-slide .sw-inner .text02 a .meSub {
  margin: 8% auto;
  font-family: "NanumEB";
  font-size: 0.9em;
  line-height: 1.45;
  color: #fff;
  text-align: center;
  word-break: keep-all;
}
.container .section04 .swiper-container .swiper-wrapper .swiper-slide .sw-inner .text02 a img {
  display: block;
  width: 30%;
  margin: 0 auto;
}
.container .section04 .swiper-container .swiper-wrapper .swiper-slide:hover {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.container .section04 .swiper-container .swiper-wrapper .swiper-slide:hover .text02 {
  -webkit-animation: UpTop both 0.3s;
          animation: UpTop both 0.3s;
}
.container .section04 .swiper-container .swiper-wrapper .swiper-slide:last-child {
  margin-right: 0;
}
.container .section04 .swiper-container .swiper-wrapper:first-child .text01 .swTitle {
  background: #fbba47;
}
.container .section04 .swiper-container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 54.9%;
  margin: 1.5em auto 0;
}
.container .section04 .swiper-container .box .swiper-pagination {
  display: inline-block;
  position: static;
  bottom: auto;
  left: auto;
  width: 80%;
}
.container .section04 .swiper-container .box .swiper-pagination .swiper-pagination-bullet {
  display: inline-block;
  float: left;
  width: 20%;
  height: 3px;
  border-radius: 0;
  margin: 0;
}
.container .section04 .swiper-container .box .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #373737;
}
.container .section04 .swiper-container .box .swiper-button-prev {
  display: inline-block;
  position: static;
  top: auto;
  width: 32px;
  height: 29px;
  margin: 0 0 0 1rem;
  background-size: 100%;
  background-image: url("../images/prev.png");
}
.container .section04 .swiper-container .box .swiper-button-prev:hover {
  background-position: left bottom;
}
.container .section04 .swiper-container .box .swiper-button-next {
  display: inline-block;
  position: static;
  top: auto;
  width: 32px;
  height: 29px;
  margin: 0 0 0 0.5rem;
  background-size: 100%;
  background-image: url("../images/next.png");
}

footer {
  padding: 40px 0;
  background: #333;
}
footer .footWrap {
  width: 90%;
  margin: 0 auto;
}
footer .footTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
footer .footTop .footLogo {
  display: block;
  width: 400px;
  margin-right: 3%;
}
footer .footTop .footLogo img {
  width: 100%;
}
footer .footTop .company {
  width: 75%;
  padding: 10px 0 0 5%;
  border-left: 1px solid #bdbdbd;
}
footer .footTop .company li {
  float: left;
  width: 20%;
}
footer .footTop .company li a {
  display: block;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background: #5e7bde;
  border-radius: 50px;
  margin: 0 10px 10px 0;
  color: #fff;
  font-size: 0.9em;
}
footer .footTop .company li a:hover {
  background: #fff;
  color: #333;
}
footer .footBottom {
  clear: both;
  text-align: center;
  border-top: 1px solid #fbfbfb;
}
footer .footBottom .footMenu {
  padding: 50px 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
footer .footBottom .footMenu > li {
  display: inline-block;
  border-right: 1px solid #fff;
  padding: 0 20px;
}
footer .footBottom .footMenu > li a {
  color: #fff;
  font-size: 0.9em;
  font-weight: 600;
}
footer .footBottom .footMenu > li:first-child a {
  color: yellow;
}
footer .footBottom .footMenu > li:last-child {
  border-right: none;
}
footer .footBottom address {
  clear: both;
  color: #fff;
  line-height: 1.5;
  font-size: 0.8em;
  font-weight: 300;
}
footer .footBottom address .copyright {
  display: block;
  margin-top: 15px;
  font-size: 0.8em;
  font-weight: 400;
  color: #bbb;
}

@media (max-width: 1500px) {
  .container .section01 video {
    position: relative;
    left: 50%;
    width: auto;
    height: 100%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  nav .wrap .navBottom .gnb {
    width: 330px;
  }
}
@media (max-width: 1440px) {
  .main .section01 video {
    position: relative;
    left: 50%;
    width: auto;
    height: 100%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (max-width: 1345px) {
  nav #Close {
    right: 5%;
    top: 2.5em;
  }
  nav .wrap {
    padding: 1.5em 5%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  nav .wrap .navTop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-bottom: 2em;
  }
  nav .wrap .navTop .navLeft {
    margin-bottom: 2em;
  }
  nav .wrap .navTop .navRight {
    width: 100%;
    margin-left: 25px;
  }
  nav .wrap .navTop .navRight .navLogin {
    position: absolute;
    top: 65px;
    right: 9%;
  }
}
@media (max-width: 1100px) {
  body {
    font-size: 18px;
  }

  #fullpage {
    display: none;
  }

  .mo {
    display: block;
  }

  nav .wrap .navTop .navRight .navLogin {
    top: 60px;
  }

  .container .section01 {
    padding-top: 0;
    margin-top: 100px;
    width: 100%;
    height: 740px;
    overflow: hidden;
  }
  .container .section01 video {
    width: 1407px;
    height: auto;
  }
  .container .section01 h2 {
    padding: 0 10px;
    font-size: 5em;
  }
  .container .section02 {
    display: block;
    width: 100%;
    padding: 4.5em 10%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .container .section02 ul {
    width: 100%;
  }
  .container .section02 ul li {
    display: block;
    margin-bottom: 3em;
  }
  .container .section02 ul li .top {
    position: relative;
  }
  .container .section02 ul li .top img {
    display: block;
    width: 100%;
  }
  .container .section02 ul li .top span {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 120px;
    font-size: 1em;
    font-weight: 600;
    padding-top: 49px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #fbba47;
    color: #fff;
    text-align: center;
    word-break: keep-all;
  }
  .container .section02 ul li:nth-child(1) .top span {
    padding-top: 42px;
  }
  .container .section02 ul li:nth-child(1) .bottom a {
    width: 49.6%;
    margin-right: 0;
  }
  .container .section02 ul li:nth-child(1) .bottom a:first-child {
    border-right: 0;
  }
  .container .section02 ul li:nth-child(2) .top span {
    background: #36b2e3;
  }
  .container .section02 ul li:nth-child(3) .top span {
    background: #ed3b5c;
  }
  .container .section02 ul li:nth-child(4) .top span {
    background: #86c56b;
  }
  .container .section02 ul li:nth-child(4) .bottom a {
    margin-bottom: 0;
  }
  .container .section02 ul li h2 {
    padding-top: 1em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 2em;
    line-height: 1.2;
    letter-spacing: -1.5px;
    word-break: keep-all;
  }
  .container .section02 ul li .bottom {
    padding-top: 1.15em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
  }
  .container .section02 ul li .bottom a {
    display: inline-block;
    float: left;
    width: 99.5%;
    height: auto;
    padding: 1em 0 0.95em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 2%;
    font-size: 1em;
    border: 1px solid #373737;
    color: #070303;
    text-align: center;
  }
  .container .section03 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .container .section03 .left {
    display: block;
    width: 100%;
    padding-bottom: 2em;
  }
  .container .section03 .left .box {
    width: 100%;
  }
  .container .section03 .left .box ul {
    max-width: 100%;
  }
  .container .section03 .left .box span {
    width: 100%;
    margin: 0 auto;
  }
  .container .section03 .left .box h3, .container .section03 .left .box p {
    width: 100%;
    text-align: center;
    word-break: keep-all;
  }
  .container .section03 .left .box .circle {
    display: none;
  }
  .container .section03 .right {
    width: 100%;
  }
  .container .section03 .right div {
    text-align: center;
    width: 100%;
    padding: 8em 3em 8em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .container .section03 .right div a {
    display: inline-block;
    width: 50%;
  }
  .container .section04 {
    width: 90%;
    padding: 4.5em 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .container .section04 h3 {
    font-weight: 600;
    margin-bottom: 2em;
    text-align: left;
  }
  .container .section04 h3::before {
    display: block;
    content: "";
    width: 13%;
    height: 5px;
    margin-bottom: 0.5em;
    background: #333;
  }
  .container .section04 ul {
    overflow: hidden;
  }
  .container .section04 ul li {
    display: inline-block;
    float: left;
    width: 31.3%;
    margin-right: 2%;
    margin-top: 1em;
    border: 1px solid #bdbdbd;
  }
  .container .section04 ul li a {
    display: block;
    padding: 1em 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
  }
  .container .section04 ul li a img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  .container .section04 ul li a span {
    display: block;
    margin-top: 1em;
    font-size: 1.05em;
    color: #bdbdbd;
  }
  .container .section04 ul li a span b {
    margin-right: 5px;
    font-size: 1.05em;
    font-weight: 500;
    color: #333;
  }
  .container .section04 ul li:nth-child(1) {
    margin-top: 0;
    background-color: #444;
  }
  .container .section04 ul li:nth-child(1) span {
    color: #d2f3ff;
  }
  .container .section04 ul li:nth-child(1) span b {
    color: #fff;
  }
  .container .section04 ul li:nth-child(2) {
    margin-top: 0;
  }
  .container .section04 ul li:nth-child(2) a:hover {
    background: #fbba47;
  }
  .container .section04 ul li:nth-child(3) {
    margin-top: 0;
  }
  .container .section04 ul li:nth-child(3) a:hover {
    background: #36b2e3;
  }
  .container .section04 ul li:nth-child(4) a:hover {
    background: #ed3b5c;
  }
  .container .section04 ul li:nth-child(5) a:hover {
    background: #86c56b;
  }
  .container .section04 ul li:nth-child(6) a:hover {
    background: #62c7bc;
  }
  .container .section04 ul li:nth-child(3n) {
    margin-right: 0;
  }

  footer .tootTop .company li {
    width: 50%;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  header.on {
    height: 80px;
    padding: 0 10px;
  }
  header.on .headBottom {
    display: block;
    width: 100%;
  }
  header.on .headBottom .logo {
    left: 0;
    width: 300px;
    height: 100%;
    margin-left: 0;
    position: relative;
  }
  header.on .headBottom .logo img {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  header.on .headBottom .hamB a {
    width: 20px;
    height: 13.5px;
    margin-top: -6px;
  }

  nav .wrap {
    padding: 1.5em 3%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  nav .wrap .navTop .navLeft .navLogo {
    width: 300px;
  }
  nav .wrap .navTop .navLeft .navLogo img {
    width: 100%;
  }
  nav .wrap .navTop .navLeft #Close {
    width: 30px;
  }
  nav .wrap .navTop .navLeft #Close a img {
    width: 100%;
  }
  nav .wrap .navTop .navRight {
    position: relative;
    margin-left: 0;
    padding-top: 3em;
  }
  nav .wrap .navTop .navRight .navLogin {
    display: block;
    width: 50%;
    top: -25px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    text-align: center;
    border: 1px solid #333;
    border-radius: 50px;
    background: #5e7bde;
    padding: 0;
  }
  nav .wrap .navTop .navRight .navLogin a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.8em 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #fff;
  }
  nav .wrap .navTop .navRight .navSearch {
    width: 49%;
  }
  nav .wrap .navTop .navRight #navSns {
    width: 43%;
    right: 0;
    margin-right: 0;
  }
  nav .wrap .navTop .navRight #navSns a {
    text-align: center;
    display: block;
    margin: 0;
    padding-right: 0;
  }
  nav .wrap .navBottom {
    display: block;
    width: 100%;
  }
  nav .wrap .navBottom .gnb {
    width: 100%;
    margin-bottom: 1.5em;
    overflow: hidden;
  }
  nav .wrap .navBottom .gnb .gnbImg {
    width: 100%;
    padding-left: 0;
    margin-top: 0;
  }
  nav .wrap .navBottom .gnb div {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 20px;
  }
  nav .wrap .navBottom .gnb div h3 {
    display: inline-block;
    float: none;
    margin: 0 0 15px;
    font-size: 1.8em;
    width: 150px;
  }
  nav .wrap .navBottom .gnb div ul {
    border-left: none;
    float: right;
    line-height: 1.7;
    padding-left: 0;
  }
  nav .wrap .navBottom .gnb div ul li {
    float: left;
    text-align: center;
  }
  nav .wrap .navBottom .gnb div ul li a {
    font-size: 1em;
  }

  .container .section01 {
    margin-top: 80px;
  }
  .container .section01 h2 {
    font-size: 4em;
  }
  .container .section02 {
    padding: 4.5em 5%;
  }
  .container .section02 ul li .top span {
    width: 100px;
    height: 100px;
    padding-top: 2.5em;
  }
  .container .section02 ul li:nth-child(1) .top span {
    padding-top: 2em;
  }

  footer .footWrap {
    width: 100%;
  }
  footer .footWrap .footTop {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
  footer .footWrap .footTop .company {
    display: block;
    margin: 2em auto;
    width: 100%;
    overflow: hidden;
    border-left: none;
    padding: 0;
  }
  footer .footWrap .footTop .company li {
    width: 25%;
  }
  footer .footWrap .footTop .company li a {
    word-break: keep-all;
  }
  footer .footWrap .footTop .footLogo {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 425px) {
  header {
    padding: 0;
  }
  header.on {
    height: 60px;
  }
  header.on .headBottom {
    display: block;
    height: 60px;
  }
  header.on .headBottom .logo {
    width: 60%;
    height: 100%;
    margin: auto 0 auto 5px;
    position: relative;
  }
  header.on .headBottom .logo img {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  header.on .headBottom .hamB a {
    width: 20px;
    height: 13.5px;
    margin-top: -6px;
  }

  nav .wrap .navTop .navLeft .navLogo {
    width: 230px;
  }
  nav .wrap .navTop .navLeft #Close {
    width: 25px;
    top: 2.2em;
  }
  nav .wrap .navTop .navRight .navLogin {
    top: -10%;
  }
  nav .wrap .navTop .navRight .navLogin a {
    font-size: 0.9em;
  }
  nav .wrap .navTop .navRight .navSearch {
    width: 100%;
  }
  nav .wrap .navTop .navRight #navSns {
    width: 100%;
    margin-left: 0;
    border-left: none;
  }
  nav .wrap .navTop .navRight #navSns > a {
    width: 100%;
    height: 43px;
    margin-left: 0;
    margin-top: 15px;
    border: 1px solid #333;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    background-position: 95% 50%;
    font-size: 0.9em;
    line-height: 2.8;
  }
  nav .wrap .navTop .navRight #navSns .navSnsChannel {
    width: 100%;
  }
  nav .wrap .navTop .navRight #navSns .navSnsChannel li {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #ebebeb;
  }
  nav .wrap .navTop .navRight #navSns .navSnsChannel li:last-child {
    border-bottom: none;
  }
  nav .wrap .navTop .navRight #navSns .navSnsChannel li a {
    display: block;
  }
  nav .wrap .navTop .navRight #navSns .navSnsChannel li a span {
    display: inline-block;
    line-height: 3;
    width: 30%;
  }
  nav .wrap .navTop .navRight #navSns .navSnsChannel li a img {
    width: 40px;
  }
  nav .wrap .navBottom .gnb div h3 {
    margin-left: 10px;
  }
  nav .wrap .navBottom .gnb div ul {
    width: 50%;
    border-left: 1px solid #333;
  }
  nav .wrap .navBottom .gnb div ul li {
    width: 100%;
    text-align: right;
    padding-right: 10%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  nav .wrap .navBottom .gnb div ul li a {
    display: block;
    padding-left: 20px;
    margin-right: 0;
  }

  .container .section01 {
    height: 450px;
    margin-top: 60px;
  }
  .container .section01 video {
    width: 800px;
  }
  .container .section01 h2 {
    font-size: 3em;
    bottom: -0.1em;
    left: -0.2em;
  }
  .container .section02 {
    padding: 3em 3%;
  }
  .container .section02 ul li .top span {
    width: 80px;
    height: 80px;
    font-size: 0.8em;
    padding-top: 2.5em;
  }
  .container .section02 ul li:nth-child(1) .top span {
    padding-top: 2em;
  }
  .container .section02 ul li h2 {
    font-size: 1.3em;
  }
  .container .section02 ul li .bottom a {
    font-size: 0.8em;
  }
  .container .section03 .left .box span {
    font-size: 0.8em;
  }
  .container .section03 .left .box h3 {
    font-size: 1.8em;
  }
  .container .section03 .left .box p {
    font-size: 0.9em;
  }
  .container .section03 .left .box ul li a {
    font-size: 0.65em;
  }
  .container .section03 .right div {
    padding: 6em 0;
  }
  .container .section03 .right div h3 {
    font-size: 1.5em;
  }
  .container .section03 .right div p {
    font-size: 0.9em;
  }
  .container .section03 .right div a {
    font-size: 0.8em;
  }
  .container .section04 h3 {
    font-size: 1.5em;
  }
  .container .section04 ul li a span {
    font-size: 0.8em;
    line-height: 1.5;
  }
  .container .section04 ul li a span b {
    display: block;
    margin: 0;
  }

  footer .footWrap .footTop .company li {
    width: 33%;
  }
  footer .footWrap .footBottom {
    padding: 0 15px;
  }
  footer .footWrap .footBottom .footMenu li {
    padding: 5px 5px;
    border-right: none;
  }
}
@media (max-width: 320px) {
  header.on .headBottom .logo {
    width: 60%;
    height: 100%;
    margin: auto 0;
    position: relative;
  }
  header.on .headBottom .logo img {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}